.bottom-nav {
  position: absolute;
  display: none;
  width: 100%;
  height: 70px;
  background-color: rgb(37, 37, 37);
  margin: 0px auto;
  padding: 0;
  bottom: 0;
}
.bottom-navbar {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

}
.misc-container{
  align-self: flex-start;
  margin: auto 15px;
  padding: 5px 0px 5px 0px;
  border: black solid 1.5px;
  border-radius: 4px;  
  font-size: 1.5rem;
  letter-spacing: 0.3px;
}
.social-media-container {
  box-sizing: border-box;
  margin: auto 20px;
  padding: 0;
}
.icon {
  margin-right: 7px;
  height: fit-content;
  padding: 5px;
}