@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Old+Standard+TT&display=swap');
/*impot fonts etc ... */
:root {
  --question-1-time: 1000ms;
  --question-delay: 100ms;
}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
.question-top-container{
  background-color: rgb(37, 37, 37);
  border: solid gray 2px;
  border-radius: 25px;
  box-shadow: 0px 2px 5px slategray;
  margin: 20px auto;
  width: 70%;
  animation: question-load 1000ms ease-in-out;
}
.question-container {
  display: flex;
  justify-content:center;
  padding: 10px auto 10px auto;
  height: 70px;
}
.question{
  margin: auto 20px;
  font-family: 'Great Vibes';
  color: goldenrod;
  font-size: 2rem;
  line-height: 48px;
  font-weight: 100;
}
.btn{
cursor: pointer;
background-color: transparent;
margin: auto 5%;
border: none;
transition-duration: var(--question-1-time);
}
.btn:hover {
  opacity: 0.5;
  transform: scale(1.4);
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48;
  color: goldenrod;
}
.answer-container {
  margin: 0px 15px 10px 15px;
  text-align: center;
  display: none;
}
.line {
  margin-bottom: 5px;
  opacity: 0.7;
  color: goldenrod;
}
p {
  color: goldenrod;
  font-family: 'Great Vibes';
  font-size: 1.5rem;
}
.show-answer{
  display: block;
}

@keyframes question-load {
  0% {
    transform: translateX(-200%);
  }
  100% {
    transform: translate(0%);
  }
  
}