@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:ital,wght@1,100&display=swap');


:root {
  --container-Grey: rgb(37, 37, 37);
  --white-trans: rgba(255, 255, 255, 0.5);
  --gold: rgb(218, 165, 32);
  --gold-trans: rgba(218, 165, 32, 0.6);
  --black-trans: rgba(0, 0, 0, 0.7);
  --background-grey-1: rgb(192, 192, 192);
  --background-grey-2: rgb(120, 120, 120);
  --background-black-1: rgb(70, 70, 70);
  --background-black-2: rgb(30, 30, 30);
  --border-bottom: rgb(238, 199, 199);

  --standard: 300ms;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--background-grey-1);
}

/* Hero - Start */
.hero, .hero::after, .hero-img, .hero-title, .hero-text{ /* width: 100% */
  width: 100%;
} 
.hero {
  height: 100vh;
  position: relative;
  border: none;
}
.hero::after {
  content: "";
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 99;
  top: 0;
  left:0
}
.hero-img {
height: 100%;
}
.hero-title, .hero-text {
  font-family: 'Great Vibes', cursive;
  text-align: center;
  z-index: 100;
  color: var(--white-trans);
  position: absolute;
}
.hero-title {
  top: 37%;
  font-size: 4.5rem;
  text-decoration: underline rgba(218, 165, 32, 0.8) 3px;
  text-underline-offset: 10px;
}
.hero-text {
  top: 50%;
  font-size: 2rem;
  letter-spacing: 10px;
  text-transform: capitalize;
  margin-top: 10px;
}
/* Hero - End */

/* Recipie Of The Day - Start */
.rotd {
  background-color: var(--container-Grey);
  margin: 20px auto;
  padding: 30px 0px;
  text-align: center;
  width: 80%;
  border-radius: 20px;
  box-shadow: 0px 1px 5px 3px black;
  font-family: 'Great Vibes', cursive;
}
.rotd .rotd-title {
  font-size: 2rem;
  color: white;
  font-weight: 100;
  letter-spacing: 2px;
}
.rotd .content-container{
  margin: 10px auto;
  padding: 0 10px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.rotd .content-sub-title {
  color: var(--gold);
  font-size: 1.9rem;
  font-weight: 100;
  text-decoration: underline 1px;
  text-underline-offset: 3px;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
}
.rotd .ingredients-list {
  list-style-type: none;
}
.rotd .ingredients-items, .rotd .method-list .method {
  color: var(--gold);
  font-size: 1.4rem;
}
.rotd .method-list {
  text-align: left;
}
/* Recipie Of The Day - End */

/* Footer Start */
.footer {
  margin-top: 150px;
  width: 100%;
  height: 300px;
  text-align: center;
  background: linear-gradient(
    var(--background-grey-1) 0%,
    var(--background-grey-2) 33%,
    var(--background-black-1) 66%,
    var(--background-black-2) 90%
  );
}
.footer .footer-title, .footer .footer-info {
  border-bottom: solid 1px black;
  margin: 20px auto;
  font-family: 'Great Vibes', cursive;
}
.footer .footer-title {
  font-size: 3rem;
  width: 60%;
  letter-spacing: 3px;
}
.footer .footer-info {
  width: 80%;
  font-weight: 100;
  letter-spacing: 1px;
  font-size: 2rem;
  padding-bottom: 10px;
}
.footer .social-media-container {
  display: flex;
  justify-content: space-between;
  width: 50%;
  margin: 0px auto;
  margin-top: 40px;
}
.footer .social-media-container a{
  font-family: 'Poppins', cursive;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: var(--standard);
}
.footer .social-media-container a:hover{
  letter-spacing: 2px;
  transform: translateY(-3px);
}
/* Footer End */

/* Media Queries */

@media screen and (max-width: 800px) {
    /* Hero Start */
    .hero-img {
    object-fit: cover;
    }
    .hero-title {
      font-size: 3rem;
      text-decoration: underline rgba(218, 165, 32, 0.8) 2px;
    }
    .hero-text {
      font-size: 1.5rem;
      letter-spacing: 8px;
    }
    /* Hero End */

    /* Recipie Of The Day - Start */
    .rotd {
      width: 90%;
    }
    .rotd .method-list {
      padding-left: 40px;
    }
      /* Recipie Of The Day - End */
}
@media screen and (max-width: 500px) {
  /* Hero Start */
    .hero-title {
      font-size: 2.7rem;
    }
    .hero-text {
      font-size: 1.3rem;
      letter-spacing: 8px;
    }
  /* Hero Start */

  /* Recipie Of The Day - Start */
    .rotd {
      padding: 15px 0px;
      width: 95%;
    }
    .rotd .rotd-title {
      font-size: 1.7rem;
      margin-bottom: 30px;
    }
    .rotd .content-sub-title {
      font-size: 1.5rem;
      margin-bottom: 10px;
    }
    .rotd .ingredients-items {
      color: var(--gold);
      font-size: 1.2rem;
    }
  /* Recipie Of The Day - End */

  /* Footer Start */
.footer {
  margin-top: 75px;
  height: 230px;
}
.footer .footer-title {
  font-size: 2rem;
  width: 70%;
  letter-spacing: 2px;
}
.footer .footer-info {
  width: 85%;
  font-size: 1.3rem;
}
.footer .social-media-container {
  width: 95%;
  margin-top: 30px;
}
.footer .social-media-container a{
  font-size: 0.7rem;
}
.footer .social-media-container a:hover{
  letter-spacing: 2px;
  transform: translateY(-3px);
}
/* Footer End */
}
