

:root {
  /* Colour variants */
  --container-Grey: rgb(37, 37, 37);
  --white-trans: rgba(255, 255, 255, 0.5);
  --white-transgender: rgba(255, 255, 255, 0.1);
  --gold: rgb(218, 165, 32);
  --gold-trans: rgba(218, 165, 32, 0.6);

  /* Transition / Animation variants */
  --standard: 300ms
}
html {
  scroll-behavior: smooth;
}
body{
  padding-bottom: 1000px;
}
.intro {
  width: 100%;
  position: relative;
  border: none;
}
.intro::after {
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 99;
  top: 0;
  left:0
}
.intro-img {
width: 100%;
height: 100%;
}
.intro-title {
  position: absolute;
  top: 37%;
  width: 100%;
  min-width: 700px;
  font-size: 4.5rem;
  text-align: center;
  color: rgba(255, 255, 255, 0.5);
  z-index: 100;
  text-decoration: underline rgba(218, 165, 32, 0.8) 3px;
  text-underline-offset: 10px;
}
.intro-text {
  position: absolute;
  top: 50%;
  width: 100%;
  min-width: 700px;
  font-size: 2rem;
  letter-spacing: 10px;
  text-align: center;
  color: var(--white-trans);
  z-index: 100;
  text-transform: capitalize  ;
  
}
.main {
  background-color: var(--container-Grey);
  margin: 0 auto;
  text-align: center;
  width: 80%;
  min-width: 600px;
  border-radius: 20px;
  box-shadow: 0px 1px 5px black;
  height: fit-content;
}
.main-container {
  padding-bottom: 20px;

}
.title-logo-container {
  padding-top: 15px;
  padding-bottom: 5px;
}
.title {
  color: white;
  font-weight: 100;
}
.recipie-container{
display: block;
margin: auto;
padding: 5px 10px;
height: fit-content;
}
.ingredients-list {
  list-style-type: none;
}
.ingredients-items {
  margin: 2px auto;
  color: var(--gold);
 }
.ingredients {
  width: 130px;
  height: fit-content;
  display: inline-block;
}
.recipie {
  display: inline-block;
  width: 500px;
  border: none; 
}
.sub-title {
  color: var(--gold);
  font-family: 'Great Vibes', cursive, Arial, Helvetica, sans-serif;
  font-size: 1.3rem;
  font-weight: 100;
  text-decoration: underline;
  
}
.rotd{
  background-color: var(--container-Grey);
  box-shadow: 0px 1px 5px black;
  border-radius: 20px;
  margin: 20px auto;
  padding: 20px;
  width: 70%;
  display: grid;
  grid-template-rows: auto 1fr;
}
.rotd-title {
  color: white;
  font-weight: 100;
  text-decoration: underline var(--gold-trans);
  text-underline-offset: 5px;
  text-align: center;
  padding-bottom: 15px;
}
.rotd-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.rotd-btn{
  color: var(--gold);
  font-size: 1rem;
  letter-spacing: 3px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  transition: var(--standard);
}
.rotd-btn.rotd-active {
  letter-spacing: 5px;
}
.rotd-btn:nth-child(1){
  border-top-left-radius: 20px;
}
.rotd-btn:nth-child(3){
  border-top-right-radius: 20px;
}
.rotd-btn:hover{
  background-color: var(--white-transgender);
  letter-spacing: 5px;
  transition: var(--standard);
}
.rotd-content-section{
  display: none;
  padding: 10px 15px;
  
}
.rotd-active{
  display: block;
  background-color: var(--white-transgender);
  transition: var(--standard);
}
#ingredients{
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px; 
}
#method{
  border-radius: 20px;
}
#tips{
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.page-top{
  position: fixed;
  bottom: 30px;
  right: 30px;
  animation: button-pulse 1200ms ease-in-out infinite;
  background-color: rgb(37, 37, 37);
  border: solid goldenrod 1px;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  z-index: -999;
  visibility: hidden;
}
.page-top-active {
  z-index: 999;
  visibility: visible;
}
@keyframes button-pulse {
  0% {
    transform: scale(1);
  }
  50% {
  transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
  
}
@keyframes button-fade {
  0% {
    
  }
  
  
}