@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Old+Standard+TT&family=Rubik+Microbe&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Great Vibes', cursive;
  font-weight: 100;
}
body {
  background-color: rgba(26, 22, 22, 0.4);
}
.menu {
  margin-top: 50px;
}
.title {
text-align: center;
font-size: 1.6rem;
color: white;
text-decoration: underline;
text-underline-offset: 20px;
text-decoration-thickness: 1px;
cursor: default;
}
.btn-container {
  margin-top: 20px;
}
.filter-btn {
  padding: 3px 10px 3px 10px;
  margin: auto 7px;
  background-color: rgba(26, 22, 22, 0.233);
  border: solid lightslategray 1.5px;
  border-radius: 8px;
  box-shadow: 0px 1px 5px black;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 200ms;
  animation: button-load 300ms ease-in-out;
  animation-fill-mode: forwards;
  transform: scale(0);
}
.filter-btn:hover {
  opacity: 0.7;
  color: white;
}
.filter-btn:active {
  color: goldenrod;
  opacity: 0.5;
  transition: 100ms;
}
.section-center {
  border: solid black 1px;
  border-radius: 30px;;
  background-color: rgb(37, 37, 37);
  box-shadow: 0px 1px 5px gray;
  color: white;
  margin: 20px auto;
  width: 90%;
  max-width: 900px;
  min-width: 600px; 
  display: grid;
  grid-template-columns: 1fr 1fr;
  animation: section-menu-load 500ms 300ms ease-out;
  transform: scale(0);
  animation-fill-mode: forwards;
  
}
.menu-item {
  width: 100%;
  height: fit-content;
  border: none;
  margin: 10px auto;  
}
.photo{
  width: 30%;
  border-radius: 30px;
  border: solid goldenrod 1.3px;
  display: inline-block;
  margin: auto 5px;
  animation: content-photo-load 500ms 800ms ease-in-out;
  transform: scale(0);
  animation-fill-mode: forwards;
}
.item-info{
  display: inline-block;
  width: 65%;
  margin: auto 0px;
  
}
header {
  display: flex;
  justify-content: space-between;
  border-bottom: solid rgba(218, 165, 32, 0.6) 0.5px;
  animation: content-header-load 500ms 1300ms ease-out;
  transform: translateX(500%);
  animation-fill-mode: forwards;
}
h4 {
  color: goldenrod;
  display: inline-block;
  margin: 0px 15px;
  text-transform: capitalize;
}
.item-text {
  margin: 10px 0px 0px 15px;
  letter-spacing: 1px;
  animation: content-info-load 500ms 1300ms ease-out;
  transform: translateX(-500%);
  color: transparent;
  animation-fill-mode: forwards;
}

/* transition - keyframes*/
@keyframes section-menu-load {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
  
}
@keyframes content-photo-load {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.2);
  }
  100% { 
  transform: scale(1);
  }
}
@keyframes content-header-load {
  0% {
    transform: translateX(500%);
  }
  100%{
    transform: translateX(0%);
  }
}
@keyframes content-info-load {
  0% {
    transform: translateX(-500%);
    color: transparent;
  }
  100% {
    transform: translateX(0%);
    color: white
  }
}
@keyframes button-load {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

 
 .test-button {
  color: black;
  padding: 30px 50px 30px 50px;
  margin: 20px auto;
  
 }