@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Indie+Flower&family=Old+Standard+TT&display=swap');
/*import fonts etc */
:root {
  --grey-trans: rgba(52, 53, 53, 0.6);
  --grey-trans-hover: rgba(91, 94, 94, 0.6);

}
*{
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
/* Navbar Start */

.navbar, .navbar .navbar-list { /* Flexbox shared property */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar{
  position: absolute;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 80px;
  padding: 0 35px;
  background-color: transparent;
  animation: navbar-load 500ms 650ms ease-in-out;
  transform: translateX(-100%);
  animation-fill-mode: forwards;  
  font-family: 'Great Vibes';
  color: rgb(255, 255, 255);
}
.navbar .navbar-title{
  font-size: 2.3rem;
  font-weight: 100;
  cursor: default;
}
.navbar .navbar-list {
  list-style-type: none;
}
.navbar .navbar-list .list-item {
padding: 0 15px;
}
.navbar .navbar-list .list-item a{
  text-decoration: none;
  display: block;
  line-height: 80px;
  font-size: 2rem;
  transition: 350ms;
  color: rgb(255, 255, 255);
}
.navbar .navbar-list .list-item a:hover{
  color: goldenrod;
  letter-spacing: 5px; 
}
.navbar .navbar-list .list-item a:active{
  opacity: 0.6;
}
.navbar #menu-toggle {
  display: none;
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  transform: scale(1.1);
  transition: 400ms
}
.navbar #menu-toggle:hover {
  transform: scale(1.6);
}
.navbar #menu-btn {
  transition: 300ms;
}
.menu-toggle-active {
  transform: rotate(90deg);
  color: goldenrod;
}

.fixed-nav{
  position: fixed;
  top: 0;
  z-index: 150;
  background-color: var(--grey-trans);
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
  animation: fixed-load 250ms ease-in-out;
  animation-fill-mode: forwards;
  transition: 300ms;
}

/* KEYFRAME ANIMATIONS */
  /* NAVBAR */
@keyframes navbar-load {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes fixed-load {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes menu-slide-in {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes menu-slide-out {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}
  /* DROPDOWN MENU */

/* Media queries */
@media screen and (max-width: 1000px) {
  .navbar{
    padding: 0 12px;
    animation: navbar-load 500ms 650ms ease-in-out;
    transform: translateX(-100%);
    animation-fill-mode: forwards;  
  }
  .navbar .navbar-title{
    font-size: 1.8rem;
  }
  .navbar .navbar-list .list-item {
  padding: 0 10px;
  }
  .navbar .navbar-list .list-item a{
    font-size: 1.5rem;
  }  
}
@media screen and (max-width: 800px) {
  .navbar{
    animation: navbar-load 500ms 650ms ease-in-out;
    transform: translateX(-100%);
    animation-fill-mode: forwards;  
    padding: 0 20px;
  }
  .navbar .navbar-title{
    font-size: 2.4rem;
  }
  .navbar .navbar-list {
    flex-direction: column;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    text-align: center;
    transform: translateY(-150%);
    transition: 300ms;
  }
  .navbar .navbar-list .list-item {
    height: 80px;
    width: 100%;
    padding: 0;
  }
  .navbar .navbar-list .list-item a{
    font-size: 2rem;
  }  
  .navbar .navbar-list .list-item a:hover{
    color: goldenrod;
    letter-spacing: 5px; 
    background-color: var(--grey-trans-hover);
  }
  .navbar #menu-toggle {
    display: block;
  }
  .menu-active {
    animation: menu-slide-in 750ms ease-in-out forwards;
  }
}
